**.orig
*.bowerrc
*.rbc
*.sassc
*.sublime-project
*.sublime-workspace
.byebug_history
.DS_Store
.env
.powenv
.powrc
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/app/assets/javascripts/webpack_*
/config/application.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/doc
/log
/log/*
/log/*.log
/public/assets/source_maps/*
/public/system
/public/system/*
/spec/examples.txt
/spec/support/captured_images/
/spec/tmp
/spec/tmp/*
/tmp
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
app/assets/javascripts/webpack_bundle.js
bower.json
capybara-*.html
config/initializers/secret_token.rb
dump.rdb
erd.pdf
eslint --ignore-path /tmp/**/*
FALSE
latest.dump
manifest.json
node_modules
npm-debug.log
pickle-email-*.html
rerun.txt
